.repocard-container{
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(238, 247, 252);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(38, 57, 77) 0px 18px 30px -10px;
}

.repocard-container h5{
    margin-top: 10px;
}

.repocard-container p{
    margin-top: 10px;

}

.repocard-container a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.repo-link-button{
    background-color: #56ccf2;
    width: 120px;
    height: 30px;
    align-self: center;
    padding-top: 6px;
    border-radius: 6px;
}